#err{
    padding: 10px;
    background-color: #dd2c00;
    opacity: 0.5;
    border-radius: 5px;
    color: wheat;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    display: none;
    word-spacing: 5px;
    letter-spacing: 2px;
    span{
        margin-left: 30px;
    }
}