footer{
    margin-top: 1.5em;
    background-color: #7d5e2a;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    word-spacing: 5px;
}