.gyan{

    margin-top: 1em;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b2ebf2;
    h1{
        font-family: 'Raleway', sans-serif;
    }

    p{
        
        padding: 20px 50px;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
    }
    .work h2{

        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}