@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Raleway:ital,wght@1,600&family=Varela+Round&display=swap');

$heading : 'Raleway', sans-serif;
header{
    padding: 5px;
    font-family: $heading;
    text-align: center;
    background-color: #f0f0f0;
}